@import "variables";

nav.headerNav {
    width: 100vw;
    height: 5vh;
    background-color: darkorange;
    position: fixed;
    top: 14vh;
    z-index: 98; 
    visibility: hidden;

    ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        font-size: 2em;
        background-color: $tertiary;
        border-bottom: 1px $black solid;
        
    }

    a {
        text-decoration: none;
        color: $primary;
        font-family: $headFont;
        text-shadow: 1px 1px 1px black;
    }

    a:hover {
        color: $white;
        text-shadow: black 2px 2px 2px;

    }
}